Repository iotaledger/iota.js, pull requests merged in 2018-12, with the labels that each got.

#314 Add (optional) tips param to getBalances api
  lib/api/api.js
  lib/api/apiCommands.js
  test/api/api.getBalances.js
  test/api/apiCommands.js
Labels: C - Rest API, C - core, T - Enhancement

#326 fix: input objects should have security level
  packages/core/test/integration/prepareTransfers.test.ts
  packages/guards.ts
  packages/types.ts
  packages/validators/test/isInput.test.ts
Labels: C - core

#330 fix: disable prettier formatting of markdown files
  package.json
Labels: T - Meta

#331 docs: fix mistakes, typos and broken links, make minor enhancements
  packages/bundle-validator/README.md
  packages/bundle-validator/README_tpl.hbs
  packages/bundle/README.md
  packages/bundle/src/index.ts
  packages/core/README.md
  packages/core/src/createAttachToTangle.ts
  packages/core/src/createCheckConsistency.ts
  packages/core/src/createGetTransactionsToApprove.ts
  packages/core/src/createPrepareTransfers.ts
  packages/core/src/createPromoteTransaction.ts
  packages/core/src/createReplayBundle.ts
  packages/core/src/createSendTrytes.ts
  packages/extract-json/README.md
  packages/extract-json/src/index.ts
  packages/signing/README.md
Labels: Documentation

#334 Enhanced nocks in core integration tests which used hardcoded sample data
  packages/core/test/integration/nocks/findTransactions.ts
  packages/core/test/integration/nocks/getBalances.ts
  packages/core/test/integration/nocks/prepareTransfers.ts
  packages/core/test/integration/nocks/wereAddressesSpentFrom.ts
Labels: C - core, L - Tests, T - Refactor
