Repository iotaledger/iota.js, pull requests merged in 2018-08, with the labels that each got.

#254 Transaction hash validator
  lib/utils/inputValidator.js
  lib/utils/utils.js
  test/utils/utils.isTransactionHash.js
  test/valid/valid.isTritArray.js
Labels: L - Documentation, T - Enhancement

#251 checkConsistency: fix `tails` field & optionally reject with reason if state is false [next branch]
  api_reference.md
  packages/core/README.md
  packages/core/src/composeAPI.ts
  packages/core/src/createCheckConsistency.ts
  packages/core/src/createPromoteTransaction.ts
  packages/core/src/errors.ts
  packages/core/src/index.ts
  packages/core/test/integration/checkConsistency.test.ts
  packages/core/test/integration/nocks/checkConsistency.ts
  packages/types.ts
Labels: C - Rest API, C - core, T - Bug, T - Enhancement

#255 checkConsistency: optionally reject with reason if state is false
  lib/api/api.js
  lib/utils/makeRequest.js
Labels: L - Awaiting reviews, T - Enhancement

#198 Check if strings can be safely converted to trytes
  lib/utils/inputValidator.js
  test/valid/vaild.isSafeString.js
Labels: T - Enhancement

#266 Optional message & tag fields in transfer object
  packages/core/src/createPrepareTransfers.ts
  packages/core/src/createPromoteTransaction.ts
  packages/core/src/createSendTransfer.ts
  packages/core/test/integration/prepareTransfers.test.ts
  packages/multisig/src/multisig.ts
  packages/types.ts
  packages/validators/src/validators.ts
  packages/validators/test/isTransfer.test.ts
Labels: C - core, C - validators, T - Bug

#265 Retry with larger depth if reference transaction is too old
  README.md
  lib/api/api.js
Labels: T - Enhancement

#268 Populate accountData.transactions with hashes
  packages/core/src/createGetAccountData.ts
  packages/core/test/integration/getAccountData.test.ts
Labels: C - core, T - Performance

#270 Extract numbers from json-encoded fragments
  api_reference.md
  packages/extract-json/README.md
  packages/extract-json/src/index.ts
  packages/extract-json/test/extractJson.test.ts
Labels: C - extract-json, T - Enhancement

#274 Fix bundle query in getBundlesFromAddresses
  packages/core/src/createGetBundlesFromAddresses.ts
  packages/core/test/integration/nocks/findTransactions.ts
Labels: C - core, T - Bug

#275 Do not add inputs for zero value transactions
  packages/core/src/createPrepareTransfers.ts
  packages/core/test/integration/prepareTransfers.test.ts
Labels: C - core, T - Bug
