Repository iotaledger/iota.js, pull requests merged in 2019-02, with the labels that each got.

#345 refactor(checksum): remove array support
  packages/checksum/README.md
  packages/checksum/src/index.ts
  packages/checksum/test/checksum.test.ts
  packages/core/src/createFindTransactions.ts
  packages/core/src/createGetBalances.ts
  packages/core/src/createGetNewAddress.ts
  packages/core/src/createIsReattachable.ts
  packages/core/src/createWereAddressesSpentFrom.ts
Labels: C - checksum

#351 fix: issues with batched requests
  packages/http-client/src/httpClient.ts
  packages/http-client/src/request.ts
  packages/http-client/src/settings.ts
  packages/http-client/test/batchedSend.test.ts
  packages/http-client/test/batchedSend.ts
  packages/http-client/test/isBatchableCommand.test.ts
  packages/http-client/test/send.test.ts
  packages/http-client/test/send.ts
  packages/http-client/test/setSettings.test.ts
Labels: C - Rest API, C - http-client

#346 fix: current/last index validation
  packages/bundle-validator/src/index.ts
Labels: C - bundle-validator

#347 fix: last trit of address with balance must be 0
  packages/bundle-validator/src/index.ts
  packages/bundle/src/index.ts
  packages/bundle/test/bundle.test.ts
  packages/errors.ts
  packages/transaction/src/constants.ts
  packages/transaction/src/index.ts
  packages/transaction/test/isTransaction.test.ts
Labels: C - bundle, C - bundle-validator, C - transaction
